{% extends 'header.html'%}
{% block content %}

</div>
<div class="banner-bottom">
    <div class="container">
        <div class="inner_sec_info_agileits_w3">

                <div class="contact-form">
                    <div class="center">
                       
                    </div>
                    <div class="right_form">
                        <br><br>
            
                        <div align="center">
                                <h3> {{result}}</h3>
                         <img class="img-responsive" src="{{url_for('static',filename='images/heart.jpg')}}" width="500" height="500">
                       
                    
                        </div><br><br><br>
                        <div align="center">
                     
                        </div>
                    </div>
                    <div class="clearfix"></div>
				  </div>
			</div>
		</div>
	</div>

<!-- icons -->
<div class="container">

</div>
<br><br>
	<!-- //icons -->

{% endblock %}
